body{
    margin: 0
}

.header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

#main{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.section{
    background-color: #f1f1f1;
    border: 1px solid #ccc;

}

#signin-form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#signup-form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

h2{
    text-align: center;
}

label{
    text-align: center;
}

